.text-happy-green{
	color: #67ac39;
}
.text-happy-blue{
	color: #0167b1;
}
.setupWizard.bootstrapWizard li.active .step, .setupWizard.bootstrapWizard li.complete .step{
	background:url(../img/current-wizard.png); border:none; background-repeat: no-repeat;
}
.setupWizard.bootstrapWizard li {
	width: 16.5%;
}
.setupWizard.bootstrapWizard li.active .step, .setupWizard.bootstrapWizard li.active.complete .step{
	padding: 11px 15px;
}
.setupWizard.bootstrapWizard li.active:before, .setupWizard.bootstrapWizard li.complete:before {
	border-top: 3px solid #26961E;
}
.setupWizard.bootstrapWizard li.complete .step, .setupWizard.bootstrapWizard li.complete.active .step{
	padding: 9px 19px;
}
.setupWizard.bootstrapWizard li.complete  i.fa.fa-check{
	display:none;
}
.icon-dollar{
	background: url("../img/dollar.png");
	display: block;
	height: 27px;
 	background-repeat: no-repeat;
	background-position: 10px;
}
.med-header{
  font-size: 17px;
}
.sml-header{
  font-size: 14px;
  line-height: 32px;
}
.smaller-header{
	font-size: 15px;
	line-height: 30px;
}
.setup-container, .setup-container-bedget{
	margin-top: 20px;
}
.setup-container-bedget{
	margin-top: 40px;
}
.budget-summary{
	background: #fff;
}
.setup.well{
	padding: 0;
}
.setup.well div div{
  line-height: 43px;
  padding: 0 12px;
}
.border-grey-top{
	border-top: 1px solid #ccc;
}
.border-grey-bottom{
	border-bottom: 1px solid #ccc;
}
.node {
  cursor: pointer;
}

.overlay{
    background-color:#fff;
}
 
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
 
.node text {
  font-size:10px; 
  font-family:sans-serif;
}
 
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
     display: none;
}
.popover {
	max-width:400px;
}
#popover-content table {
  min-width: 370px;
  line-height: 36px;
}
.smallThumb{
  width: 80px;
}
.popover-content th{
  width: 80px;
  padding-right: 20px;
  font-weight: bold;
  color: #a90329;
  font-size: 14px;
  padding-left: 20px;
  max-width: 386px;
}
.popover{
  max-width: 409px !important;
}
td {
  text-align: center;
  font-weight: bold;
}
th.profileIcon{
  padding-left: 0;
  padding-right: 0px;
  width: 52px;
}
.closePopUp{
  float: right;
  cursor: pointer;
  font-size: 11px;
}
.outer{
        width:1106px;
        margin:0;
    }
 
    .outer .wrap {
  overflow: auto;
  white-space: nowrap;
  width: 1106px;
}
    ul.overfllow {
    list-style:none;padding:5px;
      float: left;
      list-style: outside none none;
      overflow: hidden;
      padding: 5px;
      width: 5300px;
    }

    .wrap li {
        margin:0 10px;
        display:inline;
        float:left;
    }
    .left{
        float:left;
        clear:both;
    }
    .right{
        float:right;
    }
    .name-radio-wrap{
    }
    .box {
    border: 1px solid silver;
    margin: 2px;
    padding: 23px;
}
.box a{
    float: left;
    padding: 6px;
    width: 200px;
    text-decoration: none;
}
.box .image-wrap{
    padding:15px;
}
.image-wrap img{
    border: 1px solid #C0C0C0;
}
.box .toggle{
    top:-9px;
    right:93px;
}
.left-margin-10{
    margin-left: 10px
}
.box .toggle input {
    position: relative;
    left: 150px;
    display: none;
}
.smart-style-3 #ribbon {
  background: #82A5AD;
  color: #fff;
}
.smart-style-3 #ribbon .breadcrumb li:last-child, .smart-style-3 #ribbon .breadcrumb>.active {
  color: #F1DA91;
}
.smart-style-3 #ribbon .breadcrumb, .smart-style-3 #ribbon .breadcrumb a {
  color: #fff !important;
}
/*.smart-style-3 #header {
  background-color: #0A8C95;
  background-image: -moz-linear-gradient(top,#82A5AD,#0A8C95);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#82A5AD),to(#0A8C95));
  background-image: -webkit-linear-gradient(top,#82A5AD,#0A8C95);
  background-image: -o-linear-gradient(top,#82A5AD,#0A8C95);
  background-image: linear-gradient(to bottom,#82A5AD,#0A8C95);
}
.smart-style-3 #logo-group span#activity, .smart-style-3 .btn-header>:first-child>a {
  background-color: #82A5AD;
  background-image: -moz-linear-gradient(top,#82A5AD,#82A5AD);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#b9662b),to(#82A5AD));
  background-image: -webkit-linear-gradient(top,#82A5AD,#82A5AD);
  background-image: -o-linear-gradient(top,#82A5AD,#82A5AD);
  background-image: linear-gradient(to bottom,#82A5AD,#82A5AD);
  color: #fff!important;
  border: 1px solid #0A8C95;
  text-shadow: #985813 0 -1px;
}*/
.smart-style-3 .dropdown-menu {
  border-radius: 0;
  border-bottom: 2px solid #ADADAD;
  background: #82A5AD;
}