.text-happy-green{
	color: #67ac39;
}
.text-happy-blue{
	color: #0167b1;
}
.setupWizard.bootstrapWizard li.active .step, .setupWizard.bootstrapWizard li.complete .step{
	background:url(../img/current-wizard.png); border:none; background-repeat: no-repeat;
}
.setupWizard.bootstrapWizard li {
	width: 16.5%;
}
.setupWizard.bootstrapWizard li.active .step, .setupWizard.bootstrapWizard li.active.complete .step{
	padding: 9px 15px;
}
.setupWizard.bootstrapWizard li.active:before, .setupWizard.bootstrapWizard li.complete:before {
	border-top: 3px solid #26961E;
}
.setupWizard.bootstrapWizard li.complete .step, .setupWizard.bootstrapWizard li.complete.active .step{
	padding: 9px 19px;
}
.setupWizard.bootstrapWizard li.complete  i.fa.fa-check{
	display:none;
}
.icon-dollar{
	background: url("../img/dollar.png");
	display: block;
	height: 27px;
 	background-repeat: no-repeat;
	background-position: 10px;
}
.med-header{
  font-size: 17px;
}
.sml-header{
  font-size: 14px;
  line-height: 32px;
}
.smaller-header{
	font-size: 15px;
	line-height: 30px;
}
.setup-container, .setup-container-bedget{
	margin-top: 20px;
}
.setup-container-bedget{
	margin-top: 40px;
}
.budget-summary{
	background: #fff;
}
.setup.well{
	padding: 0;
}
.setup.well div div{
  line-height: 43px;
  padding: 0 12px;
}
.border-grey-top{
	border-top: 1px solid #ccc;
}
.border-grey-bottom{
	border-bottom: 1px solid #ccc;
}
.node {
  cursor: pointer;
}

.overlay{
    background-color:#fff;
}
 
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
 
.node text {
  font-size:10px; 
  font-family:sans-serif;
}
 
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
     display: none;
}
.popover {
	max-width:400px;
}
#popover-content table {
  min-width: 370px;
  line-height: 36px;
}
.smallThumb{
  width: 80px;
}
.popover-content th{
  width: 80px;
  padding-right: 20px;
  font-weight: bold;
  color: #a90329;
  font-size: 14px;
  padding-left: 20px;
  max-width: 386px;
}
.popover{
  max-width: 409px !important;
}
td {
  text-align: center;
  font-weight: bold;
}
th.profileIcon{
  padding-left: 0;
  padding-right: 0px;
  width: 52px;
}
.closePopUp{
  float: right;
  cursor: pointer;
  font-size: 11px;
}