.text-happy-green{
	color: #67ac39;
}
.text-happy-blue{
	color: #0167b1;
}
.setupWizard.bootstrapWizard li.active .step, .setupWizard.bootstrapWizard li.complete .step{
	background:url(../img/current-wizard.png); border:none; background-repeat: no-repeat;
}
.setupWizard.bootstrapWizard li {
	width: 16.5%;
}
.setupWizard.bootstrapWizard li.active .step, .setupWizard.bootstrapWizard li.active.complete .step{
	padding: 9px 15px;
}
.setupWizard.bootstrapWizard li.active:before, .setupWizard.bootstrapWizard li.complete:before {
	border-top: 3px solid #26961E;
}
.setupWizard.bootstrapWizard li.complete .step, .setupWizard.bootstrapWizard li.complete.active .step{
	padding: 9px 19px;
}
.setupWizard.bootstrapWizard li.complete  i.fa.fa-check{
	display:none;
}
.icon-dollar{
	background: url("../img/dollar.png");
	display: block;
	height: 27px;
 	background-repeat: no-repeat;
	background-position: 10px;
}
.med-header{
  font-size: 17px;
}
.sml-header{
  font-size: 14px;
  line-height: 32px;
}
.smaller-header{
	font-size: 15px;
	line-height: 30px;
}
.setup-container, .setup-container-bedget{
	margin-top: 20px;
}
.setup-container-bedget{
	margin-top: 40px;
}
.budget-summary{
	background: #fff;
}
.setup.well{
	padding: 0;
}
.setup.well div div{
  line-height: 43px;
  padding: 0 12px;
}
.border-grey-top{
	border-top: 1px solid #ccc;
}
.border-grey-bottom{
	border-bottom: 1px solid #ccc;
}