<header id="header"  class="animated fadeInDown" >

    <div id="logo-group">
        <span id="logo"> <img src="styles/img/logo.png" alt="SmartAdmin"> </span>
    </div>

    <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">
         <ul class="list-inline text-center">
            <li>
                <a href-void class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
                <a href-void class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
                <a href-void class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
            </li>
        </ul>
    </span> 

</header>
<div id="main" role="main"  class="animated fadeInDown" >

    <div id="content" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1 class="text-happy login-header-big">Setup Happy Employee</h1>

                 
                
<!-- widget grid -->
<section id="widget-grid" widget-grid>

<!-- row -->
<div class="row">

<!-- NEW WIDGET START -->
<article class="col-sm-12 col-md-12 col-lg-12">

<!-- Widget ID (each widget will need unique ID)-->
<div jarvis-widget id="wid-id-0"  data-widget-sortable="false"  data-widget-editbutton="false"
     data-widget-deletebutton="false" data-widget-togglebutton="false"  data-widget-fullscreenbutton="false" data-widget-colorbutton="false">
<!-- widget options: 
usage: <div jarvis-widget id="wid-id-0" data-widget-editbutton="false">

data-widget-colorbutton="false"
data-widget-editbutton="false"
data-widget-togglebutton="false"
data-widget-deletebutton="false"
data-widget-fullscreenbutton="false"
data-widget-custombutton="false"
data-widget-collapsed="true"
data-widget-sortable="false"

-->
<header>
    <h2> Please Configure Your Account </h2>
</header>

<!-- widget div-->
<div>

<!-- widget content -->
<div class="widget-body">

<div class="row">
<form novalidate="novalidate" data-smart-validate-form>
<div class="col-sm-12" data-smart-wizard data-smart-wizard-callback="wizard1CompleteCallback">
<div class="form-bootstrapWizard clearfix">
    <ul class="bootstrapWizard setupWizard">
        <li data-smart-wizard-tab="1" >
            <a href="#" > <span class="step">&nbsp;&nbsp;</span> <span class="title">Budget</span>
            </a>
        </li>
        <li data-smart-wizard-tab="2" >
            <a href="#" > <span class="step">&nbsp;&nbsp;</span> <span class="title">Recognition & Appreciation</span> </a>
        </li>
        <li data-smart-wizard-tab="3">
            <a href="#" > <span class="step">&nbsp;&nbsp;</span> <span class="title">Redeem</span> </a>
        </li>
        <li data-smart-wizard-tab="4">
            <a href="#" > <span class="step">&nbsp;&nbsp;</span> <span class="title">Team</span> </a>
        </li>
        <li data-smart-wizard-tab="5">
            <a href="#" > <span class="step">&nbsp;&nbsp;</span> <span class="title">Branding</span> </a>
        </li>
        <li data-smart-wizard-tab="6">
            <a href="#" > <span class="step">&nbsp;&nbsp;</span> <span class="title">Here You Go!</span> </a>
        </li>
    </ul>
</div>
<div class="tab-content">
<div class="tab-pane" data-smart-wizard-pane="1" >
    <br>
    <div class="col-sm-4 setup-container-bedget pull-right">

        <div class="well setup">
            <div class="input-group col-sm-12">
                 <div class="text-happy smaller-header text-center border-grey-bottom" >Estimated Annual Budget</div>
                 <div class="budget-summary" >
                    <div>
                        <span>Recognition & appreciation</span>
                        <span class="pull-right">$2000</span>
                    </div>
                    <div>
                        <span>Motivation & Activities</span>
                        <span class="pull-right">$1000</span>
                    </div>
                    <div>
                        <span>Saying thanks rewards</span>
                        <span class="pull-right">$1050</span>
                    </div>
                    <div>
                        <span>Employee Survey Awards</span>
                        <span class="pull-right">$250</span>
                    </div>
                </div>
                <div class="border-grey-top">
                    <div>
                        <span>Per Person</span>
                        <span class="pull-right">$2150</span>
                    </div>
                </div>
                <div class="border-grey-top">
                    <div>
                        <span>Total</span>
                        <span class="pull-right">$4300</span>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
    <div class="col-sm-8 setup-container pull-left">
        <h3><strong>Step 1 </strong> - Budget</h3>
        <div>
            <p class="text-happy-green med-header"><strong>Programs</strong></p>
            <p><strong class="sml-header">Recognition & appreciation Budget:</strong><br/><span>Budget for Recognition & appreciation programs for overall organization, you can assign budget specific to teams as well during the setup under team setup section.<span></p>
        </div> 
        <div class="row">

            <div class="col-sm-12">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa icon-dollar fa-lg fa-fw"></i></span>
                        <input class="form-control input-lg" placeholder="Please Provide Budget in dollars" type="text" name="email"
                               data-smart-validate-input
                               data-required
                               data-number
                               data-message-required="We need budget for Recognition & appreciation"
                               data-message-email="Please Provide Budget in dollars">

                    </div>
                </div>

            </div>

        </div>

        <div>
            <p><strong class="sml-header">Motivation Activities Budget:</strong><br/><span>Budget for Motivation Activities for overall organization, you can assign budget specific to teams as well during the setup under team setup section.<span></p>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa icon-dollar fa-lg fa-fw"></i></span>
                        <input class="form-control input-lg" placeholder="Please Provide Budget in dollars" type="text" name="email"
                               data-smart-validate-input
                               data-required
                               data-email
                               data-message-required="We need Motivation Activities Budget"
                               data-message-email="Please Provide Budget in dollars">

                    </div>
                </div>
            </div>
        </div>


        <div>
            <p class="txt-color-red med-header"><strong>Incentives</strong></p>
            <p><strong class="sml-header">Saying thanks rewards budget:</strong><br/><span>Do you want your employees to get rewarded when saying thanks to their colleagues<span></p>
        </div> 
        <div class="row">

            <div class="col-sm-12">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa icon-dollar fa-lg fa-fw"></i></span>
                        <input class="form-control input-lg" placeholder="Please Provide Budget in dollars" type="text" name="email"
                               data-smart-validate-input
                               data-required
                               data-number
                               data-message-required="We need budget for Recognition & appreciation"
                               data-message-email="Please Provide Budget in dollars">

                    </div>
                </div>

            </div>

        </div>

        <div>
            <p><strong class="sml-header">Employee Survey Awards:</strong><br/><span>How much points/cash for each employee survey for review and feedback, please set to 0 if you do not want it to be paid.<span></p>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa icon-dollar fa-lg fa-fw"></i></span>
                        <input class="form-control input-lg" placeholder="Please Provide Budget in dollars" type="text" name="email"
                               data-smart-validate-input
                               data-required
                               data-email
                               data-message-required="We need Motivation Activities Budget"
                               data-message-email="Please Provide Budget in dollars">

                    </div>
                </div>
            </div>
        </div>


    </div>

</div>
<div class="tab-pane" data-smart-wizard-pane="2"  >
    <br>

    <h3><strong>Step 2</strong> - Recognition & Appreciation</h3>

   
    <div class="row">
        <div class="col-12">
            <div class="smart-form">
                <fieldset>
                    <div class="row">
                        <div class="form-group col col-sm-12">
                            <p class="text-happy-green med-header"><strong>Programs</strong></p>
                            
                            <div class="col col-sm-6">
                                <p ><strong class="sml-header">Add Program:</strong><br/>
                                <span class="info">You can add multiple programs by adding one by one. each program can be associate with multiple activities, you can choose activites above. Your added info will appear in next block.</span></p>
                        
                                <div class="form-group">
                                <fieldset>
                                <div class="row">
                                    <section class="input-group col col-sm-12">
                                        <span class="input-group-addon"><i class="fa fa-ge fa-lg"></i></span>
                                        <input ng-model="programNameText" class="form-control input-sm" placeholder="Enter Program Name" type="text" name="text"
                                               data-smart-validate-input
                                           data-required
                                           data-text
                                           data-message-required="We need Program Name"
                                           data-message-text="Please Provide Program name in string" />
                                        
                                                                   
                                        <label class="input-group-addon">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; or &nbsp;&nbsp;
                                            <select ng-model="programNameSelect" ng-options="item.ID as item.Title for item in programItems"></select>
                                        <i></i> </label>
                                    </section>
                                </div>
                                <div class="row col">
                                    <section class="col col-sm-6">
                                        <strong>Select activities for program:</strong>
                                        <label class="toggle">
                                            <input type="checkbox" ng-model="activityNomination" name="checkbox-toggle">
                                            <i data-swchon-text="ON" data-swchoff-text="OFF"></i>EAward Nomination</label>
                                        
                                        <label class="toggle">
                                            <input type="checkbox" ng-model="activityThanks" name="checkbox-toggle">
                                            <i data-swchon-text="ON" data-swchoff-text="OFF"></i>EThanks</label>
                                        
                                        <label class="toggle">
                                            <input type="checkbox" ng-model="activityBage" name="checkbox-toggle">
                                            <i data-swchon-text="ON" data-swchoff-text="OFF"></i>EBadges</label>
                                    </section>

                                    <section class="col col-sm-6">
                                        <strong>Select program Icon:</strong>
                                        <input id="exampleInputFile1" class="btn-sm" type="file">                            
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="input-group col col-sm-12">
                                        <label class="textarea">
                                            <textarea ng-model="programDescription" rows="2" class="custom-scroll" placeholder="Description"></textarea>
                                        </label>
                                    </section>                                    

                                </div>
                                
                                <div></div>

                                <div class="row">
                                    <section class="col col-sm-12">
                                        <a class="btn btn-sm btn-primary" href-void="" ng-click="addProgram()">Add Program</a>

                                    </section>
                                </div>
                                
                                </fieldset>                                    
                                </div>
                            </div>
                            <div class="col col-sm-6">
                                <p><strong class="sml-header">Added Program:</strong><br/>
                                <span class="info">You have succesfully added below programs, now you can add sub categories in your programs.</span></p>
                                <div>            
                                <div class="no-padding">
                                    <div class="table-responsive">

                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="program in programs">
                                                <td>{{program.ID}}</td>
                                                <td>{{program.Name}}</td>
                                                <td>{{program.Description}}</td>
                                                <td>
                                                    <a class="btn btn-labeled btn-sm  btn-default" href-void="" href="#">
                                                    <span class="btn-label">
                                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                                    </span>
                                                    Add Sub Category
                                                    </a>
                                                </td>
                                            </tr>
                                                                                    
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>    
    
    </div>
    
</div>
<div class="tab-pane" data-smart-wizard-pane="3" >
    <br>

    <h3><strong>Step 3</strong> - Domain Setup</h3>

    <div class="alert alert-info fade in">
        <button class="close" data-dismiss="alert">
            ×
        </button>
        <i class="fa-fw fa fa-info"></i>
        <strong>Info!</strong> Place an info message box if you wish.
    </div>
    <div class="form-group">
        <label>This is a label</label>
        <input class="form-control input-lg" placeholder="Another input box here..." type="text" name="etc" id="etc">
    </div>
</div>
<div class="tab-pane" data-smart-wizard-pane="4" >
    <br>

    <h3><strong>Step 4</strong> - Save Form</h3>
    <br>

    <h1 class="text-center text-success"><strong><i class="fa fa-check fa-lg"></i> Complete</strong></h1>
    <h4 class="text-center">Click next to finish</h4>
    <br>
    <br>
</div>
<div class="tab-pane" data-smart-wizard-pane="5" >
    <br>

    <h3><strong>Step 4</strong> - Save Form</h3>
    <br>

    <h1 class="text-center text-success"><strong><i class="fa fa-check fa-lg"></i> Complete</strong></h1>
    <h4 class="text-center">Click next to finish</h4>
    <br>
    <br>
</div>
<div class="tab-pane" data-smart-wizard-pane="6" >
    <br>

    <h3><strong>Step 4</strong> - Save Form</h3>
    <br>

    <h1 class="text-center text-success"><strong><i class="fa fa-check fa-lg"></i> Complete</strong></h1>
    <h4 class="text-center">Click next to finish</h4>
    <br>
    <br>
</div>

<div class="form-actions">
    <div class="row">
        <div class="col-sm-12">
            <ul class="pager wizard no-margin">
                <li class="previous" data-smart-wizard-prev>
                    <a href="#" class="btn btn-lg btn-default"> Previous </a>
                </li>
                <li class="next" data-smart-wizard-next>
                    <a href="#" class="btn btn-lg txt-color-darken"> Next </a>
                </li>
            </ul>
        </div>
    </div>
</div>

</div>
</div>
</form>
</div>

</div>
<!-- end widget content -->

</div>
<!-- end widget div -->

</div>
<!-- end widget -->

</article>
<!-- WIDGET END -->
 

</div>

<!-- end row -->

</section>



            </div> 
        </div>
    </div>
</div>